#header-container {
    display: flex;
    background-color: #ddd;
    padding: 1rem 4rem;
    justify-content: space-between;
}

#nav-links {
    display: flex;
    gap: 4rem;
}

#nav-links > div > a {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #808080;
    text-decoration: none;
}

.link-active {
    color: #000 !important;
}

#nav-links > div {
    display: inline-block;
    position: relative;
    color: #808080;
}


#nav-links > div:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
